/* firmroll.css */




@media only screen and (max-width: 900px) {

    .firmroll-container {
        margin-top: 10%;
    }

    .firmrollsub-container h1 {
        margin-left: 12%;
    }

    .section-btn {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .button-container>div {
        width: 100%;
        margin-bottom: 10px;
    }

    .owner,
    .Bookkeeper,
    .Operations,
    .Admin,
    .Assistant,
    .Other {
        width: 100%;
        margin-left: 15%;

    }

    /* .owner,
   
    .Operations,
    .Admin,
    .Assistant,
    .Other lable {
      font-size: 16px;

    } */

     .Bookkeeper lable {
        font-size: 16px;

     }


    .rol-button {
        width: 85%;
        margin-left: 5%;


    }
}

