.password-sub-container {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .step-container{
        margin: 5%;
    }
    .password-sub-container{
        flex-direction: column;
        margin-top: 40%;
        
    } 
}