.otp-area{
    /* width: 70%; */
    margin: 20px auto;
    display:  flex;
    gap: 15px;
}
input{
    width: 85px;
    padding: 10px;
    height: 150px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-align: center;
 font-size: 30px;
    &:focus{
        border: 2px solid blue;
    }
}